*{
	font-family:"华文细黑";
}

.storyboard-page{
    background-color: #e6e6e6;
    width : 100%;
    height: 109px;
    border: 1px solid #cccccc;
    overflow: visible;
}

.car-information-header{
	background-color: #e6e6e6;
	text-align:center;
	height:89px;
	position: relative;
}

.header-left{
	padding-top:10px;
	position: absolute;
	left:15px;
}

.header-middle{
	font-size:16px;
	padding-top:10px;
	padding-bottom:13px;
	text-align:center;
	border-bottom:1px solid #ccc;
}

.header-nav-box{
	width:100%;
	height:43px;
	display:-webkit-box;
	display:-moz-box;
	color:#333333;
	padding-top:15px;
	border-top:1px solid #fff;
	border-bottom: 1px solid #ccc;
}

/*去掉最后一个竖线*/
i.slip:last-child{
	display:none;
}

.header-filterK-wrapper{
	width:auto;
	heigth:auto;
	background:#fff;
}

.header-nav-box .header-nav{
	-webkit-box-flex:1;
	-moz-box-flex:1;
	position: relative;
	top:-3px;
}

/*down*/
.header-nav-box .header-nav img{
	margin-left: 6px;
}

/*up*/
.header-nav-box p.up img{
	transform:scaleY(-1);
	-webkit-transform:scaleY(-1);
	-moz-transform:scaleY(-1);
	-o-transform:scaleY(-1);

}

.header-nav-box p.up .header-optionBox{
	border-top:1px solid #cccccc;
}

.header-nav-box .slip{
	border-left:1px solid #ccc;
	border-right:1px solid #fff;
	display:inline-block;
	height:25px;
	position:relative;
	top:-8px;
}

/*下拉选项框*/


.header-optionBox{
	width: 101%;
	height: 0px;
	border-bottom:1px solid #cccccc;
	border-top:none;
	background: #ffffff;
	position:fixed;
	top:107px;
	left:-1px;
	overflow-y: auto;
	overflow-x: hidden;
	background: rgba(0,0,0,0.5);
	z-index: -1;
}



/*只显示第一个 header-optionBox 用作调试*/
/*.header-nav-box p:nth-child(1) div{*/
	/*height: auto;*/
/*}*/

.header-optionBox p.header-filterK{
	width: 100%;
	height: 44px;
	font-size: 12px;
	padding-top: 14px;
	border-bottom:1px solid #e6e6e6;
	text-align: left;
	margin-left: 15px;
	background:#fff;
}

 /*去掉最下面一行的border*/
/*.header-optionBox p:last-child{
	border-bottom:none;
}*/

.header-optionBox p.checked{
	color:#ff7200;
}
