*{
	font-family:"华文细黑";
}

.storyboard-page{
	height:100%;
	background:#f8f8f8;
}

#car-newscentre-list{
	width: 100%;
	background:#ffffff;
	overflow: auto;
}

.news-item{
	width:100%;
	height:85px;
	overflow: hidden;
	padding:12px 0;
	border-bottom: 1px solid #e6e6e6;
	position:relative;
}

.news-left{
	width:40px;
	height:58px;
	text-align:center;
	float:left;
	padding-top: 3px;
}

.news-middle{
	height:58px;
	line-height: 22px;
}

.news-middle p{
	color:#999999;
}

.news-middle p.title{
	color:#323232;
	font-size:15px;
}

.news-right{
	position:absolute;
	right:15px;
	top:58px;
	color:#ff7200;
}