*{
	font-family:"华文细黑";
	box-sizing: border-box;
}

.storyboard-page{
	height:100%;
	overflow: auto;
}

.wrapper{
	height: 100%;
	background:#f8f8f8;
	position: fixed;
	top: 67px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
}

.selectStyle-box{
	width: 100%;
	height: auto;
	overflow-x: hidden;
	overflow-y: auto;
	background: #fff;
}

.style-wrapper{
	height: 44px;
	width: 100%;
	border-bottom: 1px solid #e6e6e6;
	font-size: 14px;
	margin-left: 15px;
	color: #323232;
	padding-top: 14px;
}