*{
	font-family:"华文细黑";
}

.storyboard-page{
	height:100%;
	background:#f8f8f8;
	overflow:auto;
}

.wrapper{
	height:650px;
	background:#f8f8f8;
}

#car-information-list{
	width: 100%;
	height:auto;
	background:#ffffff;
	padding-top:45px;
	overflow: auto;
	border-bottom: 1px solid #e6e6e6;
}

.car-information{
	height:45px;
	width:100%;
	/*border-bottom:1px solid #e6e6e6;*/
	background:#ffffff;
	overflow: hidden;
}

.car-information-title .car-information-left p{
	font-size:15px;
	font-weight: bold;
	display: inline-block;
}

.car-information-left{
	font-size:12px;
	height:100%;
	padding:14px 0;
	padding-left:15px;
	float:left;
	color:#484848;
}

.car-information-right{
	float:right;
	height:100%;
	font-size:12px;
	color:#999999;
	padding-top:15px;
	position: relative;
}

.car-information-right p{
	margin-right: 37px;
}

.car-information-right img.go{
	position:absolute;
	right: 15px;
	top:16px;
}

span.color{
	display:inline-block;
	width:15px;
	height:15px;
	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	position: absolute;
	right:71px;
	background:#000;
}

#ps-information-list{
	width: 100%;
	height:auto;
	background:#ffffff;
	margin-top: 10px;
	overflow: auto;
	border-top:1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
}

/*分割线*/
/*短线*/
i.hr-st{
	border-top: 1px solid #e6e6e6;
	display:block;
	margin-left: 15px;
}
/*长线*/
i.hr-lg{
	border-top: 1px solid #e6e6e6;
	display:block;
}